@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h2 class="lead">Do you need a low-cost school book or do you want to sell some that you no longer use? <strong>Used_Books</strong> is just what you need.</h2>
        <h2 class="lead"><strong>Register and join us!</strong></h2>
        <img src="https://www.eagleharborbooks.com/sites/eagleharborbooks.com/files/usedbooks.jpg" class="img-thumbnail"/>  
    </p>
</div>
