@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy will help you understand how Used_Books uses and protects the data you provide to us when you visit and use this website.
    We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.<br />
    <strong>What User Data We Collect</strong><br />
    When you visit the website, we may collect the following data:<br />
    •	Your IP address.<br />
    •	Your contact information and email address.<br />
    •	Other information such as interests and preferences.<br />
    •	Data profile regarding your online behavior on our website.<br />
    <strong>Why We Collect Your Data</strong><br />
    We are collecting your data for several reasons:<br />
    •	To better understand your needs.<br />
    •	To improve our services and products.<br />
    •	To send you promotional emails containing the information we think you will find interesting.<br />
    •	To contact you to fill out surveys and participate in other types of market research.<br />
    •	To customize our website according to your online behavior and personal preferences.<br />
    <strong>Safeguarding and Securing the Data</strong><br />
    Used_Books is committed to securing your data and keeping it confidential. Used_Books has done all in its power to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online.<br />
    <strong>Our Cookie Policy</strong><br />
    Once you agree to allow our website to use cookies, you also agree to use the data it collects regarding your online behavior (analyze web traffic, web pages you spend the most time on, and websites you visit).
    The data we collect by using cookies is used to customize our website to your needs. After we use the data for statistical analysis, the data is completely removed from our systems.
    Please note that cookies don't allow us to gain control of your computer in any way. They are strictly used to monitor which pages you find useful and which you do not so that we can provide a better experience for you.
</p>
